<!DOCTYPE html>
<html>
  <head>
    <title>ModelExplorer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind_output" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/902717d512.js" crossorigin="anonymous"></script>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-screen bg-slate-800 text-white">
    <%= render TopNavBar.new(params: {}) %>
    <%= yield %>
  </body>
</html>
